.GaleryImageWrapper {
    // animation: slideLeftToRigt 1s linear; 
    // animation-fill-mode: both;

    & .GaleryImage {
        width: 100%;
    }

    @keyframes slideLeftToRigt {
        0% {
          transform: translateX(100%);
        } 
        100% {
          transform: translateX(0);
        }
      }    
}


  