@import '../../assets/values/colors.module';

.NavMenuOverlay {
    height: 90vh;
    width: 100%;
    background-color: $colorBlack;
    top: 0;
    margin: 0;
    position: fixed;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    transform: translateY(-100%);
    transition: transform 0.5s ease-out;

    ul {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        li {
            list-style-type: none;
            text-decoration: none;
            margin: 1em 0;

            a:link,
            a:visited,
            a:hover, 
            a:active {
                 text-decoration: none;
                 color: $colorWhite;
                 opacity: 1;
                 font-size: 4em;
          }
        }
    }
}

.NavMenuOverlay.Open {
    transform: translateY(0);
}

.NavMenuOverlay.Close {
    transform: translateY(-100%);
}

.closeMenuOverlayBtn {
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    top: 3em;
    right: 3em;
    cursor: pointer;

    &:before,
    &:after {
        content:'';
        position:absolute;
        width:36px;
        height:4px;
        background-color: $colorWhite;
        border-radius:2px;
        top:16px;
        box-shadow:0 0 2px 0 $colorLightSilver;        
    }

    &:before {
        -webkit-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
        transform:rotate(45deg);
    }

    &:after {
        -webkit-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
        transform:rotate(-45deg);
    }
}
