.GaleryWrapper {
  margin-bottom: '100px';
}

h2.GaleryHeader {
    font-size: 4em;
    left: 45%;
    position: relative;
    margin: 0;
    display: inline-block;
    margin-top: 10px;
    letter-spacing: 1.5rem;
    animation-timing-function: ease-out;
    animation-name: slideRightToLeft;
    animation-duration: 1s;

    @keyframes slideRightToLeft {
        0% {
            opacity: 0;  
            transform: translateX(10rem);
            float: bottom;
          }
          80% {
            transform: translateX(-1rem);
           }
          100% {
            opacity: 1;
            transform: translateX(0);
          }
    }
}

@media only screen and (max-device-width: 800px) {
      h2.GaleryHeader {
        font-size: 2em;
        left: 15%;
        position: inherit;
        margin-left: auto;
        /* width: 50%; */
        margin-right: auto;
        display: block;
        margin: 0;
        text-align: center;
        margin-top: 10px;
        letter-spacing: 1.0rem;
        animation-timing-function: ease-out;
        animation-name: slideRightToLeft;
        animation-duration: 1s;
  }
}

.GaleryContainer {
    height: 100%;
    overflow: hidden;
    // background-image: 
    //     linear-gradient(to right bottom, rgb(208,208,208), 	rgb(216,216,216))
    //     , url(../../assets/img/salon2.jpg);
    // background-size: cover;    
    position: relative;
    // -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
    // clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    animation: none;

    .GaleryColumn {
      box-sizing: border-box;
      flex: 25%;
      max-width: 25%;
      padding: 0 4px;
    }
    
    .GaleryColumn img {
      margin-top: 8px;
      vertical-align: middle;
     
    }

    @media (max-width: 800px) {
        .GaleryColumn {
          flex: 50%;
          max-width: 50%;
        }
      }
    
    @media (max-width: 768px) {
      .GaleryColumn {
        flex: 100%;
        max-width: 100%;
      }
    }
}


