@import '../../assets/values/colors.module';

header {
    position: relative;
    margin: 8px;

    .Navigation {
        height: 100vh;
        background-image: 
            linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(75, 75, 75, 0.6)), 
            url(../../assets/img/1.jpg);
        background-size: cover;    
        position: relative;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);

        .HeaderTitle {
            position: relative;
            color: white;
            top: 35%;
            font-size: 4.5rem;
            letter-spacing: 2.5rem;
            font-weight: 500;
            margin: 0 auto;
    
            & .HeaderTitlePrimary,
            .HeaderTitleSecondary {
                display: block;
                text-align: center;
            }
    
            & .HeaderTitlePrimary {
                animation-timing-function: ease-out;
                animation-name: runright;
                animation-duration: 1s;
                
                @keyframes runright {
                    0% {
                        transform: translateX(-10rem);
                        opacity: 0;
                    }
                    80% {
                        transform: translateX(1rem);
                    }
                    100% {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
            }
    
            & .HeaderTitleSecondary {
                animation-timing-function: ease-out;
                animation-name: runleft;
                animation-duration: 1s;
                
                @keyframes runleft {
                    0% {
                        transform: translateX(10rem);
                        opacity: 0;
                    }
                    80% {
                        transform: translateX(-1rem);
                    }
                    100% {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
            }
        }

        & .ScrollIcon {
            width: 35px;
            margin: 0;
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: expandNavMouse 1s;
            animation-timing-function: ease-out;

            @keyframes expandNavMouse {
                0% {
                    transform: translate(-50%, -50%) scale(0);
                    opacity: 0;
                }
                50% {
                    transform: translate(-50%, -50%) scale(2);
                }
                100% {
                    transform: translate(-50%, -50%) scale(1);
                    opacity: 1;
                }
            }
        }

        .NavMenu {
            position: absolute;
            height: 38px;
            top: 3rem;
            right: 3rem;
            cursor: pointer;
            animation: expandNavMenu 1s;
            animation-timing-function: ease-out;
            color: white;
    
            @keyframes expandNavMenu {
                0% {
                    transform: scale(0);
                    opacity: 0;
                }
                50% {
                    transform: scale(2);
                }
                100% {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
    
        .Logo {
            position: absolute;
            height: 76px;
            top: 2rem;
            left: 2rem;
            cursor: pointer;
            animation: expandLogo 1s;
            animation-timing-function: ease-out;
            color: white;
    
            @keyframes expandLogo {
                0% {
                    transform: scale(0);
                    opacity: 0;
                }
                50% {
                    transform: scale(1.5);
                }
                100% {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
    }

    @media (max-width: 700px) {
        .Navigation {
            .HeaderTitle { 
                font-size: 1.5rem;
                letter-spacing: 1.5rem;
            }
        }
    }

    @media screen and (min-device-width: 701px) and (max-device-width: 1200px) {
            
        .Navigation {
            .HeaderTitle { 
                font-size: 2.5rem;
                letter-spacing: 2rem;
            }
        }
    }
    
}