.FooterElement {
    max-width: 20%;
    width: 20%;
    height: 300px;
    color: white;
    text-align: center;
    // display: flex;
    // flex-direction: column;
    position: relative;

    &:not(:first-child):after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        border: 1px solid white;
        border-width: 0 0 0 1px;
    }
    
    & .FooterElementInfoContainer {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);

        & span {
            display: block;
        }
    }

    & img {
        height: 50px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .FooterElement {
        height: 160px;
        max-width: 100%;
        width: 100%;

        &:not(:first-child):after {
            content: none;
        }

        &:first-child {
            margin-top: 20px;
        }

        &:last-child {
            margin-bottom: 10px;
        }
    }

}

