.Footer {
    display: flex;
    box-sizing: border-box;
    background-color: #222;
    background-image: 
        linear-gradient(to right bottom,rgba(0, 0, 0, 0.9), rgba(75, 75, 75, 0.9));
        // , 
        // url(../../assets/img/salon2.jpg);
    background-size: cover;    
    margin: 8px;
}

@media only screen and (max-width: 768px) {
    .Footer {
        display: flex;
        flex-direction: column;
        margin: 8px;
    }
}