@import '../../assets/values/colors.module';

.PriceCard {
    height: auto;
    width: 30%;
    margin-top: 5em;
    margin-bottom: 5em;
    box-sizing: border-box;
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253);
    animation: slideBottomToTop .3s linear; 
    animation-fill-mode: both;

    &:nth-child(2) { 
        animation-delay: .3s; 
    }

    &:nth-child(3) { 
        animation-delay: .6s; 
    }

    & img.CardImage {
        width: 100%;
        height: 200px;
        border-style: hidden;
    }

    & h4 {
        margin-top: 40px;
        margin-bottom: 25px;
        text-align: center;
    }

    & ul {
        padding: 0 20px 20px 20px;
        line-height: 3;

        & li {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &:not(:nth-child(1)):before {
                content: "";
                width: 92%;
                margin-left: auto;
                position: absolute;
                border-bottom: 1px solid #B8B8B8;
                border-radius: 20px;
                left: 4%;
            }

            & span {
                font-size: 16x;
            }
        }
    }

    &:nth-child(1) {

        & :nth-child(3):before,
          :nth-child(4):before {
            display: none;
        }
    }

    &:nth-child(3) {

        & :nth-child(3):before,
          :nth-child(4):before {
            display: none;
        }
    }
}


@keyframes slideBottomToTop {
    0% {
      opacity: 0;  
      transform: translateX(100%);
      float: bottom;

    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media only screen and (max-device-width: 768px) {
    .PriceCard {
        height: auto;
        width: 350px;
        margin: 5em auto;
        box-sizing: border-box;
    }
  }

  @media only screen and (max-device-width: 400px) {
    .PriceCard {
        width: 95%;
    }
  }