.PricesWrapper {
    height: 105vh;
}

.PriceHeader {
    font-size: 4em;
    left: 25%;
    position: relative;
    margin: 0;
    display: inline-block;
    margin-top: 10px;
    letter-spacing: 1.5rem;
    animation-timing-function: ease-out;
    animation-name: HeaderLeftToRight;
    animation-duration: 1s;
}

@keyframes HeaderLeftToRight {
    0% {
     transform: translateX(-10rem);
     opacity: 0;
  }
    80% {
     transform: translateX(1rem);
    }
    100% {
     transform: translateX(0);
     opacity: 1;
  }
}

.CardContainer {
    max-width: 80%; 
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

@media only screen and (max-device-width: 810px) {

    .PriceHeader {
        font-size: 9vh;
    /* margin: 0; */
    /* margin-left: auto; */
    text-align: center;
    width: 50vw;
    // margin-right: auto;
    /* display: block; */
    /* margin-top: 10px; */
    letter-spacing: 1rem;
    /* left: 20%; */
    /* position: inherit;*/
    }

    .CardContainer {
        max-width: 80%; 
        margin-left: auto;
        margin-right: auto;
        display: block;
        justify-content: space-around;
        animation: none !important;
    }

    .PricesWrapper {
        height: auto !important;
    }
}
